# System files
# ------------

Icon
.DS_Store

# Local Preset Files
# ------------
elenatibi.code-workspace

# Temporary files
# ---------------

/public/media/*
!/public/media/index.html

# Content files
# ---------------

/content/*
content/site.txt

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
node_modules
